/* CSS by Gus Guomas */
/* Color Palette 


light pink = #FFE8F0
light brown = #ACA193
light green = #AFC2A8
faded rose = #F499AF
*/

/* GLOBAL (base) MOBILE FIRST */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ACA193;
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #AFC2A8;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    padding: 15px 20px;
}

nav a {
    color: #4B0090;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    text-transform: uppercase;

}

nav a:hover {
    background-color: #FFE8F0;
    color: #10288C;
}

header {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.image-section {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.resume-section {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #fbcede;
    padding: 1rem;
}

.resume-section section {
    flex: 1 1 300px;
    background-color: #FEEFEE;
    padding: 1rem;
    border-radius: 8px;
}

.image-column {
    display: grid;
    padding: 1rem;
    background-color: #fbcede;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

.page-content {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FEEFEE;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem;
}

@media (max-width: 900px) {
    .image-column {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .image-column {
        grid-template-columns: 1fr;
        /*stack images */
    }
}